.container {
  width: 400px;
  padding: 20px;
}

.container legend {
  font-weight: bold;
}

.container form {
  margin-bottom: 0;
}

.container fieldset {
  margin-bottom: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}
