.chat-gpt-container {
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid;
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  .chat-gpt-container {
    border-color: #dadce0;
  }
}

@media (prefers-color-scheme: dark) {
  .chat-gpt-container {
    border-color: #3c4043;
  }
  .chat-gpt-container :is(.answer, .question) {
    background-color: #202124;
  }
}

.chat-gpt-container p {
  margin: 0;
}

.chat-gpt-container .gpt-inner {
  padding: 15px;
  line-height: 1.5;
}

.chat-gpt-container .icon-and-text {
  display: flex;
  align-items: center;
  gap: 6px;
}

.chat-gpt-container .manual-btn {
  cursor: pointer;
}

.chat-gpt-container .gpt-loading {
  color: #b6b8ba;
  animation: gpt-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes gpt-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.chat-gpt-container.sidebar-free {
  margin-left: 60px;
  height: fit-content;
}

.chat-gpt-container :is(.answer, .question) {
  font-size: 15px;
  line-height: 1.6;
  border-radius: 8px;
}

.chat-gpt-container :is(.answer, .question) pre {
  margin-top: 10px;
}

.chat-gpt-container :is(.answer, .question) code {
  white-space: pre-wrap;
  word-break: break-word;
}

.interact-container {
  position: relative;
}

.interact-input {
  box-sizing: border-box;
  width: 100%;
}
