.chat-gpt-container {
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid #dadce0;
  padding: 15px;
}

.chat-gpt-container p {
  margin: 0;
}

.chat-gpt-container .prefix {
  font-weight: bold;
  margin-bottom: 10px;
}

.chat-gpt-container .loading {
  color: #b6b8ba;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.chat-gpt-container.sidebar-free {
  margin-left: 60px;
  height: fit-content;
}

.chat-gpt-container #answer {
  font-size: 15px;
  line-height: 1.6;
}

.chat-gpt-container #answer pre {
  margin-top: 10px;
}

.chat-gpt-container #answer code {
  white-space: pre-wrap;
  word-break: break-all;
}

.resizable {
  position: relative;
}

.resizer {
  position: absolute;
}

.resizer:hover {
  position: absolute;
}
.resizer-r:hover {
  background-color: #009975;
}

.resizer-r {
  top: 0;
  height: 100%;
  right: -2px;
  width: 3px;
  cursor: col-resize;
  transition: all 0.3s ease-in-out;
}

.g-flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
